<h2>Service menu list</h2>

<% @servicemenus.each do |servicemenu| %>
<div>
  Service ID #<%= servicemenu.id %>
   Item: <%= servicemenu.service_item %>
  Cost : $ <%= servicemenu.service_cost %>
</div>
    <li><%= link_to('Edit', edit_servicemenu_path(servicemenu))%></li>
    <li><%= link_to('Delete', servicemenu, :data => {:confirm => 'Are you sure?', :method => :delete })%></li>

<% end %>
