<div class="col-md-6 col-md-offset-3">
  <%= form_for @invoice, :class => "form-group" do |f| %>
    <div>
      <strong>
      Date: <%= @consultation.appointment.appointment_date %>
    </strong>
    </div>
    <div>
      <strong>
      Practitioner name:<%= @consultation.appointment.practitioner.name %>
      </strong>
    </div>
    <div class="need_space">
      <strong>
      Patient name: <%= @consultation.appointment.patient.name%>
    </strong>
    </div>

    <div><%=f.label :item, "Service item" %>
        <%= f.text_field :item, :class => "form-control" %>
    </div>
    <div><%=f.label :cost, "Consultation / service fee" %>
        <%= f.text_field :cost, :class => "form-control" %>
    </div>
  <%# raise 'mou' %>
    <%= hidden_field_tag :consultation_id, @consultation.id %>
    <%# raise 'err' %>
    <%= f.submit :type=>"submit", :class=>"btn btn-default" %>
  <% end %>
</end>
