<%= form_for @invoice do |f| %>
  <p>
<%#= f.date_field :appointment_date, :min => Date.today %>
<%#= time_field_tag 'appointment_time' %>
  </p>


<p><%= @consultation.appointment.practitioner.name %></p>
<p><%= @consultation.appointment.patient.name %></p>
<p><%#= @consultation.appointment.patient.name(sdfd) %></p>

<%= @servicemenus.each do |s| %>
<p>
  list: <%= s.id %>
</p>
<% end %>

<div>
<%#raise 'err' %>
  <%= f.collection_select :menu_id,   @servicemenus, :id, :menu_package, :class => "form-control input-lg" %>
</div>





<p><%#=f.label :charge_item, "Service" %>
<%#= f.text_field :charge_item %> </p>
<p>AUD: <%#f.label :charge_cost, "Consultation / service fee" %></p>

<!-- <div class="">
    <label for="presecription">Prescription required</label>
    <select name="prescription" id="prescription" class="form-control" placeholder="Please chose">
      <option>Please chose</option>
      <option>The first session </option>
      <option>From the second session</option>
    </select>
  </div> -->

<%= f.submit %>
<% end %>
