<%= flash[:notice] %>
<h2>New registered / edited Practitioner details ID#: <%= @practitioner.id %></h2>
<ul class ="info">
  <li>Name:<%= @practitioner.name%></li>
  <li>Contact number:<%= @practitioner.phone %></li>
  <li>e-mail:<%= @practitioner.email %></li>
</ul>