<%= form_for @prescription do |f| %>
  <div>Date: <%= @consultation.appointment.appointment_date%>
  </div>

  <div>Practitioner ID# / Name: #<%= @consultation.appointment.practitioner.id %> / <%= @consultation.appointment.practitioner.name %> </div>

  <div>Patient ID# /Name: #<%= @consultation.patient.id %> /<%= @consultation.patient.name %> </div>

  <div>
    Consultation note: <%= @consultation.initial_consultation_note %>
  </div>

  <div>
    <%= f.label :recommendation, "Recommendation: " %>
      <%= f.text_area :recommendation, :include_blank => true, :class => "form-control", :rows => "3"%>
  </div>
  <div>
    <%= f.label :dosage, "Dosage: "%>
      <%= f.text_area :dosage, :include_blank => true, :class => "form-control", :rows => "3" %>
  </div>

  <%= hidden_field_tag :consultation_id, @consultation.id %>
  <%= f.submit :type => "submit", :class => "btn btn-default" %>
<% end %>