<div class="col-md-6 col-md-offset-3">
  <h4>Please chose supplements from below list and enter quantity. </h4>
</div>
  <div class="col-md-4 col-md-offset-4">

<%= form_for @prescription_supplement, :class => "form-group" do |f| %>

  <div >
    <%= f.collection_select :supplement_id, Supplement.all, :id, :supplement_package, :class=>"form-control input-lg"%>
  </div>

  <div >
    <%= f.label :qty, "Qty" %>
    <%= f.text_field :qty %>
  </div>

      <%= hidden_field_tag 'prescription_supplement[prescription_id]', @prescription_supplement.prescription_id %>
  <div class="pres_sup_button">
  <%= f.submit :type => "submit", :class=>"btn btn-default"%>
</div>
<% end %>
</div>