<h2>TAX INVOICE</h2>
<div>ABN: <%= @consultation.appointment.practitioner.abn_number %> </div>

Invoice ID: <%= @invoice.id%> <br>
Consultation ID: <%= @invoice.consultation_id %><br>

<div>Practitioner ID# <%= @consultation.appointment.practitioner_id %> / <%= @consultation.appointment.practitioner.name %></div>
  <div></div>
  <div>Patient Name: <%= @consultation.appointment.patient.name %></div>
  <div>Consultation ID# <%= @consultation.id %></div>

<!-- Charge_item: <%#= @invoice.menus.pluck(:menu_item) %> -->

<%#raise 'erorororo' %>
<% @invoice.charged_line.each do |line| %>
<%# raise 'err at show' %>
<% line_content = Menu.find line %>
 charge item: <%= line_content.menu_item %>
  Charge cost: <%= line_content.menu_cost %><br>
  <%#raise 'err' %>
  <!-- Total: <%#= menu.menu_cost %> -->

<% end %>
<br>
<%= link_to 'add service item / cost', choose_path(:id => @invoice.id, :consultation_id => @invoice.consultation_id) %>