<%= form_for @consultation do |f| %>
  <%= flash[:notice] %>

  <div>
   Date: <%= @appointment.appointment_date %>
  </div>

  <div>
    Practitioner: <%= @appointment.practitioner.name %>
  </div>

  <div>
    Patient ID#/ name: # <%= @appointment.patient_id%> / <%= @appointment.patient.title %>. <%= @appointment.patient.name%>
  </div>

  <div>
    <%= f.label :initial_consultation_note, "Consultation note" %>
    <%= f.text_area :initial_consultation_note, :include_blank => true,  :class => "form-control", :rows => "10" %>
  </div>

  <div class="">
    <label for="presecription">Prescription required</label>
    <select name="prescription" id="prescription" class="form-control" placeholder="Please chose">
      <option>Please chose</option>
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>

  <div>
    <%= hidden_field_tag :appointment_id, @appointment.id %>
    <%= f.submit "Save consultation note" %>
  </div>

<% end %>