<%= form_for @consultation do |f| %>
  <%= flash[:notice] %>

  <div>
   Date: <%= @consultation.appointment.appointment_date %>
  </div>

  <div>
    Practitioner: <%= @consultaion.appointment.practitioner.name %>
  </div>

  <div>
    Patient ID: <%= @consultation.appointment.patient_id%>
    Patient name: <%= @consultation.appointment.patient.name%>
  </div>

  <div>
    <%= f.label :initial_consultation_note, "Consultation note" %>
    <%= f.text_area :notes, :include_blank => true,  :class => "form-control", :rows => "3" %>
  </div>

  <div>
    <%= f.submit "Save consultation note" %>
  </div>

<!-- Date -->
<!-- Practitoner name -->
<!-- Patient name & ID  -->
<!-- consultation_note -->
<!-- submit -->

<% end %>