<h2>Appointment details</h2>

<p>Appointment ID: <%= @appointment.id %><br>
Practioner ID: <%= @appointment.practitioner_id %>
Practioner Name: <%= @appointment.practitioner.name %><br>
Patient ID: <%= @appointment.patient_id%>
Patient Name: <%= @appointment.patient.name %><br>
Appointment date & time: <%= @appointment.appointment_date %></p>
