<!DOCTYPE html>
<html>
<head>
  <title>Practitioner start_up management system</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <%= @current_user.try(:email) %>
          <%== smartnav %>

      </ul>

    </nav>
<%= yield %>
  </div>
</body>
</html>
